.wrapper-homepage {
    background-color: green;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('../img/stop_paying_pmi_1800.jpg');
    /* background-image: url('./img/stop_paying_pmi_1800.jpg'); */
    width: 100vw;
    height: 100vh;
    padding-top: 16vh;
    /* transform: scaleX(-1); */
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1190px) {
  .wrapper-homepage {
    background-position: 50% 0%;
  }
}
@media (max-width: 880px) {
  .wrapper-homepage {
    background-position: 36% 0%;
  }
}
@media (max-width: 650px) {
  .wrapper-homepage {
    background-position: 36% 0%;
  }
}

  