.tab-content {
    /* border: 1px solid red; */
    border-radius: 0 0 8px 8px; 
    border: 3px solid white;
}

.tab-content .pets-grid {
    margin: 0;
    padding: 1.3rem;
    background-color: var(--bs-nav-tabs-link-active-bg);
    background-color: rgba(255, 255, 255, 0.4);
    /* border: 5px solid var(--bs-nav-tabs-link-active-);
    border: 5px solid; */
    /* border-color: var(--bs-nav-tabs-link-active-bg);  */
}

.tab-content .pets-grid .col {
    margin-top: 0;
    margin-bottom: 1.3rem;
}