.pet-page-card {
    position: relative;
    width: 40vw;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0 0 30px #000000;
}

/* .foster-button, .adopt-button {
    position: absolute;
    right: 0;
    bottom: 0;
} */

.card-body {
    position: relative;
}

.foster-adopt-buttons {
    margin: 15px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -106px);
}