.bookmark-button {
    border: none;
}

.bookmark-icon {
    position: absolute;
    margin: 15px;
    padding: 3px;
    right: 0%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 4px #000000;
    transition: all 0.1s;
}

.bookmark-icon:hover {
    width: 2rem;
    height: 2rem;
    transform: translateX(0.1rem) translateY(-0.1rem);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #a600a6;
    border-radius: 8px;
}