* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100%;
  color: #ffffff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 18px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(6px);
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  margin: 0 22px;
}
nav a {
  text-decoration: none;
  color: #bbbbbb;
  font-weight: 500;
}
nav a:hover {
  color: #dddddd;
}
nav a:active {
  color: #ffffff;
}
.nav-bar-center {
  color: #bbbbbb;
  font-weight: 700;
}

.wrapper {
  padding: 15vh;
  /* background-color: green; */
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('./img/stop_paying_pmi_1800.jpg') fixed;

  /* background-image: url('./img/stop_paying_pmi_1800.jpg'); */
  /* width: 100vw; */
  /* height: 100vh; */
  padding-top: max(80px, 8vh);
  /* transform: scaleX(-1); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(100px);
  /* backdrop-filter: brightness(60%); */
  /* filter: blur(8px); */
  /* position: fixed; */
  min-height: 100vh;
  min-width: 100vw;
}
/* .wrapper::before {
  content: '';
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('./img/stop_paying_pmi_1800.jpg');
  height: 100vw;
  width: 100w;
} */
.wrapper::after {
  content: "";
  /* border: 5px solid red; */
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(15px);
  z-index: -1;
}

.home-page-title {
  padding-right: 20vw;
  text-align: right;
  text-align: -webkit-right;
  color: rgba(255,255,255,0.6);
  /* opacity: 60%; */
  /* color: rgb(83, 199, 83);
  opacity: 100%;
  mix-blend-mode: difference; */
  font-size: 1.4vw;
}
.home-page-title .title-first {
  font-size: 4.8vw;
}
.home-page-title .title-second {
  font-size: 7vw;
  font-weight: 500;
}
.home-page-title .subtitle {
  margin-top: 4vw;
  max-width: 26vw;
}
.home-page-title a {
  white-space: nowrap;
  color: rgba(255,255,255,0.7);
  /* text-decoration: underline; */
  /* cursor: pointer; */
}
.home-page-title a:hover {
  white-space: nowrap;
  color: rgba(255,255,255,0.9);
  /* text-decoration: underline; */
  /* cursor: pointer; */
}

@media (max-width: 1190px) {
  .home-page-title {
    padding-right: 10vw;
    color: rgba(255,255,255);
    opacity: 70%;
  }
}
@media (max-width: 880px) {
  .home-page-title {
    text-align: left;
    text-align: -webkit-left;
    padding-left: 10px;
    opacity: 80%;
    font-size: 2vw;
  }
}



.pet-search-form {
  width: 50vw;
  padding: 1.2rem;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  border-radius: 6px;
}

.pets-grid {
  margin-top: 20px;
}

.pet-card {
  border: none;
  outline: none;
  background: none;
}
.adoption-status {
  position: absolute;
  margin: 15px;
}

